<div class="flex flex-col w-full h-screen max-sm:h-auto justify-center items-center ">
  <div class="flex-grow flex w-full h-full justify-between">
    <div  class="flex-1 flex justify-center items-center flex-col m-10">

      <h1 class="text-6xl font-mono text-center mb-5 max-sm:text-2xl md:text-4xl"> Learn more about countries 🌍 </h1>
      <p class="font-mono text-xl mb-5 text-center max-sm:text-sm md:text-lg">Let improuve 🚀 ur Geography Knowladge .</p>

      <div class=" flex flex-col w-full  items-center justify-center mb-5 xl:hidden max-xl::visible">
        <img class=" border w-full rounded-xl  " src="/assets/globe.gif" alt="globe">
      </div>



      <div class="bg-gray-200 flex flex-col w-full items-center justify-center rounded-xl mb-5">
        <p class="font-mono text-2xl  max-md:text-lg m-3">Select a region</p>
        <div class="grid grid-cols-2  xl:grid-cols-3 gap-4 w-full max-w-md rounded-xl items-center justify-center text-center">
          @for (region of regions; track region.name) {
            <div  [routerLink]="'/region/' + region.name" class="h-full flex-1 flex justify-center items-center hover:bg-slate-800 space  border-r-4 hover:text-gray-100 border-gray-200 max-sm:flex-col max-lg:flex-col">
              <img class="h-2/6 max-md:h-2/6" src="/assets/region/{{ region.name }}.png" alt="" srcset="">
              <p class=" font-mono text-lg font-medium pl-3 max-sm:text-sm" >{{region.name}}</p>
            </div>
          }
        </div>
      </div>
    </div>

    <div class=" flex-1 flex-col w-full items-center justify-center mb-5 xl:visible max-xl:hidden">
      <img class=" border w-full h-full  object-cover rounded-xl  " src="/assets/globe.gif" alt="globe">
    </div>
</div>


